* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 4%;
    background-color: #444;
}

h1, p, a {
    color: #ddd;
}

a {
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 6px;
    background-color: gray;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
}

[data-testid="slackDisplayName"] {
    margin-bottom: 10px;
}

[data-testid="currentTimeUTC"], [data-testid="currentDay"] {
    font-size: 22px;
    margin-bottom: 10px;
}

[data-testid="slackEmail"] {
    font-size: 20px;
}

.goals {
    width: 93%;
    margin: 2% auto;
}

.goals h1 {
    margin-bottom: 1%;
}

.goals p {
    font-size: 20px;
}

.links {
    width: 93%;
    margin: 0 auto;
}

.links div {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    column-gap: 8%;
}

@media screen and (max-width: 820px) {
    body {
        padding-top: 6%;
    }

    .about {
        column-gap: 12%;
    }

    .goals, .links {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .about {
        column-gap: 8%;
    }
}

@media screen and (max-width: 660px) {
    .about {
        column-gap: 4%;
    }
}

@media screen and (max-width: 576px) {
    .about {
        flex-direction: column-reverse;
        row-gap: 10px;
    }

    .goals {
        margin-top: 6%;
        margin-bottom: 4%;
    }

    .goals h1 {
        margin-bottom: 2%
    }

    .links div {
        padding: 3% 0;
    }
}

@media screen and (max-width: 430px) {
    .links div {
        row-gap: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 375px) {
    [data-testid="currentTimeUTC"], [data-testid="currentDay"] {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    [data-testid="slackEmail"] {
        font-size: 18px;
    }
}